<div class="container">
  <div class="row">
    <h3>Listings</h3>

  </div>
  <!--div class="row" id="ad-top" style="background-color: #333333; height: 50px">
    Ad space - Top of subcategory
  </div-->
  <div class="row">
<div class="medium-3 columns" style="padding-right: -20px;">
  <div clas="row" style="height: 250px;">
    Filters coming here.
  </div>
  <div class="row">
<div id="ad-left-callout" style="background-color: #228811;height:300px">
  Ad space - Side callout
</div>
  </div>

  </div>
<div class="columns small-9">
  <div class="row" id="ad-slider-listing">

    <div class="banner">
      <ul>
        <li style="background-color: #222; height:200px">This is a slide.</li>
        <li style="background-color: #999; height:200px">This is another slide.</li>
        <li style="background-color: #DDD; height:200px">This is a final slide.</li>
      </ul>
    </div>


  </div>
  <div class="row" id="listings-lister" style="border: 1px solid #333333">
    <div class="columns small-9">
    <ul>
      <% @listings.each do |listing| %>
          <li>
          <ul>
            <li><%= listing.name %></li>
            <li><%= listing.description %></li>
            <li><%= listing.client.name %></li>
            <li><% listing.subcategories.each do |c| %></li>
                    <li>
                      <%= c.name %>
                    </li><% end %>
            <li><%= listing.cost %></li>
            <li><%= listing.featured %></li>
            <li><%= listing.keywords %></li>
            <li><%= listing.link %></li>
            <li><%= link_to 'Show', listing %></li>
            <!--li><%= link_to 'Edit', edit_listing_path(listing) %></li>
            <li><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></li-->
          </ul>
          </li>
      <% end %>
    </ul>
    </div>
  </div>
  </div>
  </div>

</div>

<br>


<% #link_to 'New Listing', new_listing_path %>
