<div class="row"><div class="columns small-4">
<%= image_tag @listing.images.first %>
</div>
  <div class="columns small-8">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Client:</strong>
  <%= @listing.client %>
</p>

<p>
  <strong>Subcategories:</strong>
  <%= @listing.subcategories.first.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @listing.cost %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @listing.featured %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @listing.keywords %>
</p>

<p>
  <strong>Link:</strong>
  <%= @listing.link %>
</p>

<p id="addToPackageButton" style="display: none;">
  <button><strong>Add this listing to my Package</strong></button>
</p>
  </div>

</div>

<div class="row">
  <div class="columns small-12">
    Reviews for this listing
    <div class="row">
      <div class="columns small-10">
        <%= @listing.reviews.first %>
      </div>
      <div class="row">
        <% #link_to "Add Review", new_review_path(@listing) %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      if (typeof sessionStorage["package_amount"] !== 'undefined')
      {
          $("#addToPackageButton").show();
      }
      else
      {
          $("#addToPackageButton").hide();
      }
  });
</script>