<% content_for :head do %>
    <title>Welcome to My City Amigo</title>
<% end %>
<!--h1>My City Amigo</h1>
<p>My City Amigo, home of Amigos.</p-->

<div class="banner">
  <ul>
    <li style="background-color: #222; height:300px">This is a slide.</li>
    <li style="background-color: #999; height:300px">This is another slide.</li>
    <li style="background-color: #DDD; height:300px">This is a final slide.</li>
  </ul>
</div>

<div class="container">

  <br />
<div class="row">
  <div class="columns small-centered small-8">
  <form id="home_search" method="get" action="/search/listings">
  <div class="row collapse prefix-round">
    <div class="small-2 columns">
        <select id="option_list" style="border-radius: 15px;border-top-right-radius: 0px;border-bottom-right-radius: 0px">
          <option value="listings" selected="selected">Listings</option>
          <option value="events">Events</option>
          <option value="places">Dubai</option>
        </select>
    </div>
    <div class="small-10 columns">
      <input type="text" style="border-top-right-radius: 15px; border-bottom-right-radius: 15px" placeholder="What do you wanna do?" name="query" id="home_search_input">
    </div>
  </div>
  </form>
</div>
</div>


      <!--div class="row collapse">
        <div class="small-offset-1 small-10 columns">
          <input type="text" style="border-radius: 15px" placeholder="What do you wanna do?">
        </div>
        <div class="small-1 columns">
          <a href="#" class="button postfix">Go</a>
        </div>
</div-->

<div class="row">
  <div class="columns large-2 front-thumbs">
    <img src="<%= asset_path('front_image_1.jpg') %>" height=100px alt="Browse Listings" />
    <h5>Browse Listings</h5>
  </div>
  <div class="columns large-2 front-thumbs">
    <img src="<%= asset_path('front_image_1.jpg') %>" height=100px alt="Browse Listings" />
    <h5>Events</h5>
  </div>
  <div class="columns large-2 front-thumbs">
  <img src="<%= asset_path('front_image_1.jpg') %>" height=100px alt="Browse Listings" />
  <h5>Create your Package</h5>
</div>
  <div class="columns large-2 front-thumbs">
    <img src="<%= asset_path('front_image_1.jpg') %>" height=100px alt="Browse Listings" />
    <h5>Drive Around</h5>
  </div>
  <div class="columns large-2 front-thumbs">
    <img src="<%= asset_path('front_image_1.jpg') %>" height=100px alt="Browse Listings" />
    <h5>Dubai <3</h5>
  </div>
  <div class="columns large-2 front-thumbs">
    <img src="<%= asset_path('front_image_1.jpg') %>" height=100px alt="Browse Listings" />
    <h5>Forums</h5>
  </div>
</div>

</div>





<% if user_signed_in? %>
<!--div class="panel radius">
  <h3>Verify your phone number to enjoy all the benefits!</h3>
  <%= link_to "Verify Now", user_two_factor_authentication_path, class: "button primary round", method: :get %>
</div-->

<% end %>


<script>
  $(document).ready(function(){
      $('#option_list').change(function(){
          var action = $(this).val() ? $(this).val() : "listings";
          $('#home_search').attr("action","/search/"+action);
      });

  });
</script>