<%= form_for(@package_line) do |f| %>
  <% if @package_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_line.errors.count, "error") %> prohibited this package_line from being saved:</h2>

      <ul>
      <% @package_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.text_field :package_id %>
  </div>
  <div class="field">
    <%= f.label :listing_id %><br>
    <%= f.text_field :listing_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
