<%= form_for(@social) do |f| %>
  <% if @social.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social.errors.count, "error") %> prohibited this social from being saved:</h2>

      <ul>
      <% @social.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facebook_id %><br>
    <%= f.text_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :twiter_id %><br>
    <%= f.text_field :twiter_id %>
  </div>
  <div class="field">
    <%= f.label :google_id %><br>
    <%= f.text_field :google_id %>
  </div>
  <div class="field">
    <%= f.label :foursquare_id %><br>
    <%= f.text_field :foursquare_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
