<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Details:</strong>
  <%= @place.details %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @place.fees %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @place.fees %>
</p>

<p>
  <strong>Area:</strong>
  <%= @place.area %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @place.kind %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @place.activities %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @place.keyword %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
