<!--div class="contain-to-grid"-->
  <nav class="top-bar" data-topbar role="navigation" style="background-color: #333">
    <ul class="title-area">
        <li class="name">
          <a href="/"><img id="site-logo" src=<%= asset_url("logod2.svg") %> />
        </a></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
            <li class="has-dropdown"><a href="/events/">EVENTS</a>
              <ul class="dropdown">
                <li><a href="#">Sports</a></li>
              </ul>
            </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="/listings/">LISTINGS</a>
            <ul class="dropdown">
              <li><a href="#">Nightlife</a></li>
              <li><a href="#">Outings</a></li>
              <li><a href="#">Restaurants</a></li>

            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="/places/">EXPLORE</a>
            <ul class="dropdown">
              <li><a href="#">Dubai Culture</a></li>
              <li><a href="#">Do's and Dont's</a></li>
              <li><a href="#">Tourism</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><%= link_to "ABOUT", pages_about_path %>
            <ul class="dropdown">
              <li><a href="#">About Us</a></li>
              <li><a href="#">About Dubai</a></li>
              <li><%= link_to "Contact Us", pages_contact_path %>
              </li>
            </ul>

          </li>
          <li class="divider"></li>
        </ul>
      <!-- Right Nav Section -->

      <ul style="float:right">
            <li><% unless user_signed_in? %>
                  <%= link_to 'Sign In', new_user_session_path %></li>
              <% else %>
                  <li class="has-dropdown">
                    <a href="#">My Account</a>
                    <ul class="dropdown">
                  <li><a href="/users/edit">My Profile</a></li>
                  <li><a href="#">My Offers</a></li>
                  <li><a href="#">My Points</a></li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
              <% end %></li>
              </ul>
        </li>
      </ul>

      <ul style="float:right">
        <li class="divider"></li>
        <li id="link_nopackage">
          <%= link_to "Create Package", pages_package_path %>
        </li>
        <li id="link_packagebar">
          <%= link_to "My Package", pages_package_path, style: "line-height:25px" %>
          <div class="progress success round" style="height:1rem;padding:.08rem">

            <span class="meter" style="width: 80%"></span>

          </div>
        </li>
        <li class="divider"></li>
      </ul>
    </section>
</nav>
</nav>
    <!--/div-->

<script>
    $(document).ready(function(){
        if (typeof sessionStorage["package_amount"] !== 'undefined')
        {
            $("#link_nopackage").hide();
            $("#link_packagebar").show();

        }
        else
        {
            $("#link_nopackage").show();
            $("#link_packagebar").hide();
        }
    });
</script>