<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "My City Amigo" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="ted pb-pattern o-lines-light">

  <% if flash[:notice] %>
  <div id="notice"><% flash[:notice] %></div>
      <% end %>
  <% #render "layouts/top" %>
<%= render "layouts/navbar" %>
<div class="container">
    <div class="row">
    <div class="large-12 column">
      <%= yield %>
    </div>
    </div>
    <div class="row"><div class="large-12 column">

    </div></div>



</div>
  </body>
</html>

<script>
    $(function() {
        $('.banner').unslider({
            speed: 500,               //  The speed to animate each slide (in milliseconds)
            delay: 3000,              //  The delay between slide animations (in milliseconds)
            complete: function() {},  //  A function that gets called after every slide animation
            keys: true,               //  Enable keyboard (left, right) arrow shortcuts
            dots: true,               //  Display dot navigation
            fluid: true              //  Support responsive design. May break non-responsive designs

        });
    });
</script>