<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "My City Amigo" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="ted pb-pattern o-lines-light">

<%= render "layouts/navbar" %>
<div class="container">
    <div class="row">
    <div class="large-12 column">
      <%= yield %>
    </div>
    </div>
    <div class="row"><div class="large-12 column">

    </div></div>



</div>
  </body>
</html>